# -----------------------------
# Nix environment (system deps)
# -----------------------------
if ! has nix_direnv_version || ! nix_direnv_version 3.1.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.1/direnvrc" "sha256-p+fzQdrms/hDa7g+soShAybJNo4bN4SIAeSfqNKgD5I="
fi

use flake .#fullstack

# -----------------------------
# Project env vars
# -----------------------------
dotenv_if_exists .env

# -----------------------------
# Project paths
# -----------------------------
export PYTHONUNBUFFERED=1
export UV_LINK_MODE=copy
export UV_PROJECT="$PWD"

#export XDG_CACHE_HOME="$PWD/nix/container/state/.cache"
#export XDG_DATA_HOME="$PWD/nix/container/state/.local/share"
#export XDG_CONFIG_HOME="$PWD/nix/container/state/.config"

export TIKTOKEN_CACHE_DIR="/tmp/litellm_tiktoken_${USER}"
export HF_HOME="$PWD/nix/container/state/.cache/huggingface"

export PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring
export PODMAN_CGROUP_MANAGER=cgroupfs
export LD_LIBRARY_PATH=$NIX_LD_LIBRARY_PATH

