__pycache__/
!.github/observatory/litellm_config.yaml
.aider*
.aws-sam/
.claude
.codegpt
.cursor
.devpod-internal/
.direnv
.env
.idea/
.langfuse.log
.mypy_cache/*
.newenv
.nix-bash-history
.nix-container-cache
.python-version
.venv
.venv_policy_test
.vscode/launch.json
.vscode/settings.json
*.pyc
**/.DS_Store
**/.vim/
**/*.storageState.json
**/coverage
**/node_modules
**/playwright-report
**/test-results
build_report.md
bun.lockb
config.yaml
deploy/charts/*.tgz
deploy/charts/litellm/*.tgz
deploy/charts/litellm/charts/*
dist
dist/*
enterprise/dist
enterprise/dist/*
enterprise/poetry.lock
hosted_config.yaml
kub.yaml
langfuse.log
LAZY_LOADING_IMPROVEMENTS.md
litellm_config.yaml
litellm_results.jsonl
litellm_server/config.yaml
litellm_uuid.txt
litellm-js/spend-logs/package-lock.json
litellm-proxy-extras/dist
litellm-proxy-extras/dist/*
litellm-proxy-extras/poetry.lock
litellm/proxy/_experimental/out
litellm/proxy/_experimental/out/*
litellm/proxy/_new_new_secret_config.yaml
litellm/proxy/_new_secret_config.yaml
litellm/proxy/_secret_config.yaml
litellm/proxy/_super_secret_config.yaml
litellm/proxy/api_log.json
litellm/proxy/application.log
litellm/proxy/custom_guardrail.py
litellm/proxy/db/migrations/*
litellm/proxy/db/migrations/0_init/migration.sql
litellm/proxy/google-cloud-sdk/*
litellm/proxy/litellm_secrets.toml
litellm/proxy/log.txt
litellm/proxy/migrations/*
litellm/proxy/migrations/*config.yaml
litellm/proxy/migrations/0_init/migration.sql
litellm/proxy/myenv/*
litellm/proxy/myenv/bin/activate
litellm/proxy/myenv/bin/Activate.ps1
litellm/proxy/secret_managers/credentials.json
litellm/proxy/tests/node_modules
litellm/proxy/tests/package-lock.json
litellm/proxy/tests/package.json
litellm/proxy/to_delete_loadtest_work/*
litellm/proxy/vertex_key.json
litellm/tests/aiologs.log
litellm/tests/config_*.yaml
litellm/tests/dynamo*.log
litellm/tests/exception_data.txt
litellm/tests/langfuse.log
litellm/tests/log.txt
litellm/tests/test_custom_logger.py
loadtest_kub.yaml
myenv/*
newenv/*
package-lock.json
package.json
perplexity-mcp
poetry.lock
proxy_server_config_@.yaml
proxy_server_config_2.yaml
requirements.txt
result
result/*
router_config.yaml
scripts/test_vertex_ai_search.py
secrets.toml
STABILIZATION_TODO.md
test.py
tests/litellm/litellm_core_utils/llm_cost_calc/log.txt
tests/llm_translation/log.txt
tests/llm_translation/test_vertex_key.json
tests/llm_translation/vertex_test_account.json
tests/local_testing/log.txt
tests/proxy_admin_ui_tests/package-lock.json
tests/proxy_admin_ui_tests/ui_unit_tests/package-lock.json
tests/test_custom_dir/*
tests/test_litellm/proxy/_experimental/mcp_server/test_mcp_server_manager.py
ui/litellm-dashboard/.next
ui/litellm-dashboard/next-env.d.ts
ui/litellm-dashboard/node_modules
ui/litellm-dashboard/out/
ui/litellm-dashboard/package-lock.json
update_model_cost_map.py
venv/
